{{define "title"}}Dashboard - SaniLog{{end}}

{{define "content"}}

<div class="max-w-md mx-auto">



    <!--Header-->
    <div class="bg-teal-600 rounded-b-2xl p-6">

        <!--Title-->
        <div class="flex items-center justify-between mb-2">
            <p class="text-white text-md font-bold">SaniLog</p>
        </div>

        <!--Nama-Level-->
        <div class="items-center justify-between">
            <p class="text-xl text-white font-bold">Halo, Lion</p>
            <p class="text-white text-sm">Level 5</p>
        </div>

    </div>

    <div class="bg-gray m-6 p-6">

        <div class="bg-white rounded-xl">
            <div class="grid grid-cols-2">
                <div class="bg-white/20">
                    <p class="text-sm">Total Sampah</p>
                    <p class="text-teal-800 text-xl font-bold">124 Kg</p>
                </div>
                <div class="bg-white/20">
                    <p class="text-sm">Streak</p>
                    <p class="text-teal-800 text-xl font-bold">12 Bulan</p>
                </div>
            </div>
        </div>

    </div>





</div>

{{end}}
